.navbar{

position:fixed;
top:0;
left:0;
right:0;

z-index:1000;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

backdrop-filter:blur(20px);
-webkit-backdrop-filter:blur(20px);

background:rgba(10,10,15,.4);

border-bottom:
1px solid rgba(255,255,255,.08);

transition:.4s;
}

.navbar.scrolled{

padding:14px 8%;

background:rgba(5,5,10,.85);

box-shadow:
0 10px 40px rgba(0,0,0,.3);
}

.logo{

font-size:1.4rem;
font-weight:800;

letter-spacing:2px;

text-decoration:none;
color:white;
}

.nav-links{

display:flex;
align-items:center;
gap:30px;

list-style:none;
}

.nav-links a{

position:relative;

text-decoration:none;

color:#d7dce7;

font-weight:500;

transition:.3s;
}

.nav-links a:hover,
.nav-links a.active{

color:var(--accent);
}

.nav-links a::after{

content:"";

position:absolute;

bottom:-6px;
left:0;

width:0;
height:2px;

background:var(--accent);

transition:.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after{

width:100%;
}

.mobile-toggle{

display:none;

font-size:2rem;

cursor:pointer;
}

@media(max-width:1000px){

.mobile-toggle{
display:block;
}

.nav-links{

position:fixed;

top:80px;
right:-100%;

width:280px;
height:calc(100vh - 80px);

background:#111722;

flex-direction:column;

padding:40px 20px;

transition:.4s;
}

.nav-links.show{
right:0;
}

}

.top-btn{

position:fixed;

bottom:30px;
right:30px;

width:55px;
height:55px;

border:none;

border-radius:50%;

cursor:pointer;

background:var(--accent);

font-size:1.2rem;

z-index:999;
}